* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
    background-color: #999999;
}

#limpiar {
    width: 100px;
    height: 30px;
    display: block;
    position: fixed;
    right: 50%;
    bottom: 0px;
}